*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgba(21, 134, 162, 0.686);
    display: flex;
    align-items: center;
    justify-content: start;
}
.container{
    margin: 65px;
    padding: 35px;
}
.container h1{
    font-size: 3.5rem;
    line-height: 65px;
    /* margin-bottom:; */
}
.container #heading2{
    color: rgba(2, 111, 2, 0.978);
    text-decoration: underline;
    margin-bottom: 20px;
}
.container p{
    font-size: 2.2rem;
    line-height: 30px;
    margin-bottom: 35px;
}
.container input{
    width: 65%;
    height: 5vh;
    margin-left: 35px;
}
.container #passwordField{
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 30px;
    background-color: rgb(225, 183, 129);
}
.container #passwordLength{
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    padding-left: 30px;
    background-color: rgb(225, 183, 129);
}
.container #passwordField::placeholder , #passwordLength::placeholder{
    padding-left: 15px;
    font-weight: 700;
}
.container #generateButton{
    border: none;
    background-color: greenyellow;
    border-radius: 15px;
    width: 40%;
    font-weight: 760;

}
.container #generateButton:hover{
    cursor: pointer;
}